ion-content.background{
    --background: url(../../assets/images/map3.jpg) 0 0/100% 100% no-repeat;

}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
 }

.btn{
    --background:#B9723C;
    color: #fff;
    --background-focused: #000;
    --background-activated:#000;
    --background-hover:#000;
    margin-bottom: 10px;
}


.btns{
    color: #B9723C;
}
 
