<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Register 
    </ion-title>
    <ion-button fill="clear" color="dark" slot="start" (click)="goBack()"> <ion-icon name="arrow-back"></ion-icon> </ion-button>
    <!-- <ion-back-button slot="start"></ion-back-button> -->
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card class="ion-no-margin">
    <ion-card-header class="section-coffee">
      
      <img src="../../assets/images/img6.png" alt="coffee" class="coffee-img">

    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <ion-item class="item-has-focus ion-touched">
          <ion-input type="text" fill="solid" label="Nom & prenom" labelPlacement="floating" formControlName="name"></ion-input>
        </ion-item>
        <span style="color: red;" *ngIf="name && name.invalid && name.touched"> Ce champ de saisie n'est pas valide! </span>
    
        <ion-item  class="item-has-focus ion-touched">
          <ion-input type="email" fill="solid" label="Email" labelPlacement="floating" formControlName="email"></ion-input>
        </ion-item>
        <span style="color: red;" *ngIf="email && email.invalid && email.touched"> Ce champ de saisie n'est pas valide! </span>
       
        <ion-item>
          <ion-input type="password" fill="solid" label="Password" labelPlacement="floating" formControlName="password" ></ion-input>
        </ion-item>
        <span style="color: red;" *ngIf="password && password.invalid && password.touched"> Mot de passe invalide! </span>
    
        <ion-item lines="none">
          <ion-button class="btns" fill="clear" slot="end"> Forget password?</ion-button>
        </ion-item>
  
        <ion-button [disabled]="registerForm.invalid" class="btn-register" shape="round" fill="solid" expand="block" type="submit"> Register </ion-button>
  
        <ion-button class="btn-login" shape="round"  expand="block" routerLink="/login"> login</ion-button>
  
        <!-- <ion-item href="https://www.ionicframework.com">
          Register
        </ion-item> -->
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>